<h1>Reports Results</h1>

<div class="container">
	<table id="display" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
     <tr>   
      <% @dimensions.each do |input| %>
        <th><%= input.upcase%></th>
      <% end %>
    </tr> 
   </thead>

    <tbody>
        <% @csv.each do |repo| %>
            <tr>
                <td><%=repo.date%></td> 
                <%if @dimensions.include? 'app'%>
                <td><%=repo.app%></td>  
                <%end%>
                <%if @dimensions.include? 'country'%>
                <td><%=repo.country%></td>  
                <%end%>
                <%if @dimensions.include? 'platform'%>
                <td><%=repo.platform%></td>  
                <%end%>
                 <%if @dimensions.include? 'connection'%>
                <td><%=repo.connection%></td> 
                <%end%>
                <td><%=repo.ad_revenue%></td> 
                <td><%=repo.impressions%></td>
                <td><%=repo.cpm%></td>
            </tr>
        <% end %>
    </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#display').DataTable();
  });
</script>